*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/ESP_Code/Cat-O-Matic/.pio
/ESP_Code/Cat-O-Matic/.vscode
/ESP_Code/Cat-O-Matic/test
/ESP_Code/Cat-O-Matic/include/README
/ESP_Code/Cat-O-Matic/lib/README
