*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/ESP_Code/.pio
/ESP_Code/.vscode
/ESP_Code/test
/ESP_Code/include/README
/ESP_Code/lib/README
